
<div id=lewo>
  <h3>Historia </h3>
  <p>Historia wybranego dnia</p>
  <% @lista.each do |f| %>
    <tr>
      <td><%= f.pokarmy.nazwa %></td>
    </tr>
  <% end %>
  <p><i><%= link_to "Dodaj nowy pokarm do bazy", new_eat_path  %></i></p>
</div>

<div id=prawo>
<h3> Dodaj pokarm</h3>

<p> tu uzytkownik dodaje zjedzone pozywienie</p>
</div>
