<br><h1><center>Witaj, <%=current_user.name %>! </center></h1>
<center><i style="font-size:20px;"><u><p>Zalecamy uzupełnić/zaktualizować swój profil na stronie: <%= link_to "Zarzadznie kontem", edycja_path, class: "text-dark" %></u></i></center></p>
